<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.white.ssm.mapper.UserMapper">
    <!--抽取查询语句-->
    <sql id="select">
        select
          id,
          username,
          password
        from
          user
    </sql>

    <!--根据条件查询用户-->
    <select id="findByWrapper" resultType="user">
        <include refid="select"/>
        ${ew.customSqlSegment}
    </select>
</mapper>